[submodule "dicee-flutter"]
	path = dicee-flutter
	url = https://github.com/pritamps/dicee-flutter
[submodule "xylophone-flutter"]
	path = xylophone-flutter
	url = https://github.com/pritamps/xylophone-flutter
[submodule "quizzler-flutter"]
	path = quizzler-flutter
	url = https://github.com/pritamps/quizzler-flutter
[submodule "destini-challenge-starting"]
	path = destini-challenge-starting
	url = https://github.com/pritamps/destini-challenge-starting
[submodule "bmi-calculator-flutter"]
	path = bmi-calculator-flutter
	url = https://github.com/londonappbrewery/bmi-calculator-flutter
[submodule "Clima-Flutter"]
	path = Clima-Flutter
	url = https://github.com/pritamps/Clima-Flutter
[submodule "bitcoin-ticker-flutter"]
	path = bitcoin-ticker-flutter
	url = https://github.com/pritamps/bitcoin-ticker-flutter
[submodule "flash-chat-flutter"]
	path = flash-chat-flutter
	url = https://github.com/pritamps/flash-chat-flutter
